/* Full page layout */
html,
body,
.container-fluid,
.row,
.top-tracts-container {
  height: 100%;
}

.navbar {
  border-radius: 0;
  z-index: 1000;
}
.navbar-inverse {
  background-image: none;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.sidebar {
  color: black;
  height: auto;
  padding: 70px 15px 15px;
  background-color: #efefef;
}

.content {
  height: 100%;
}

/* Top Tracts Bar Chart */
#top-tracts-container {
  display: none;
  position:relative;
  overflow: scroll;
}

.tract {
  height: 5px;
}

.tract-bar {
  background-image: none;
  margin: 0;
}

.progress {
  background-image: none;
  background-color: none;
  margin-bottom: 7px;
}

@media (min-width: 992px) {
  .sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
  }

  .content {
    padding: 50px 0px 0px;
  }

  #top-tracts-container {
    display: block;
  }
}

/* Modal Styles */
a#about {
  color: white;
}

/* Panel Styles */
.panel {
  background-color: ghostwhite;
  margin: 1em;
  padding: 1em;
  width: 300px;
}

#color-key {
  width: 340px;
}

li.key {
  border-top-width: 20px;
  border-top-style: solid;
  font-size: 1em;
  width: 14%;
  padding-left: 0;
  padding-right: 0;
}

/* Map */
#map {
  z-index: 99;
  height: 100%;
}
.leaflet-marker-pane {
  background: none;
  pointer-events:none;
}

.text-labels {
  font-size: 10px;
  font-weight: 700;
  pointer-events: none;
}


/* Tract Info Panel */
#tract-info {
  position: absolute;
  z-index: 100;
  margin: 1em;
}

