/* Full page layout */
html,
body,
.container-fluid,
.row {
  height: 100%;
}

body {
  overflow: hidden;
}

.map-container {
  padding: 0;
}

.navbar {
  border-radius: 0;
  z-index: 1000;
}
.navbar-inverse {
  background-image: none;
}

.navbar-inverse .navbar-brand {
  color: white;
}

/* Map */
div#map {
  position: absolute;
  z-index: 99;
  margin-top: 50px;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Info Panel */
div#info {
  max-width: 300px;
  margin: 1em;
  padding: 1em;
  position: absolute;
  top: 50px;
  z-index: 1000;
}

div#info h1 {
  font-size: 26px;
  margin-top: 0;
}

div#info .bootstrap-select {
  display: block;
}

@media (max-width: 992px) {
  div#info h1 {
    font-size: 1.2em;
  }

  div#info p {
    font-size: .9em;
  }
}

/* Hide this because it breaks the layout in mobile right now */
.leaflet-control-zoom {
  /* display: none; */
}

.leaflet-marker-pane {
  background: none;
  pointer-events:none;
}

.text-labels {
  font-size: 10px;
  font-weight: 700;
  pointer-events: none;
}

/* Top Tracts Bar Chart */
p#description {
  font-size: .9em;
}

/* Modal Styles */
a#about {
  color: white;
}

/* Selected Tract Panel */
div#selected-tract {
  display: none;
  z-index: 1000;
  max-width: 300px;
}

div#selected-tract .panel-body {
  padding: 12px 16px;
}

p#selected-tract-value {
  font-size: 1.5em;
  margin-bottom: 3px;
}

svg#selected-tract-key {
  /* border: 1px solid black; */
  height: 30px;
  /* overflow: visible; */
  width: 150px;
}

